<div class="container site-section mb-5">
    <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
            <h2>@Localizer["How it works?"]</h2>
            <p>@Localizer["Our car rental process is as shown below."]</p>
        </div>
    </div>
    <div class="how-it-works d-flex">
        <div class="step">
            <span class="number"><span>01</span></span>
            <span class="caption">@Localizer["Time & Place"]</span>
        </div>
        <div class="step">
            <span class="number"><span>02</span></span>
            <span class="caption ">@Localizer["Car"]</span>
        </div>
        <div class="step">
            <span class="number"><span>03</span></span>
            <span class="caption">@Localizer["Details"]</span>
        </div>
        <div class="step">
            <span class="number"><span>04</span></span>
            <span class="caption">@Localizer["Checkout"]</span>
        </div>
        <div class="step">
            <span class="number"><span>05</span></span>
            <span class="caption">@Localizer["Done"]</span>
        </div>
    </div>
</div>