@model IEnumerable<CarRent.Models.ReturnDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentDetails.RentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office.OfficeEmailAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReturnId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReturnId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReturnId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
