@model CarRent.Models.Reservation

@{
    ViewData["Title"] = Localizer["My Reservations"];
}

<div class="padding-top-120px bg-dark"></div>

<div class="site-section bg-light padding-top-120px" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <h2>@ViewData["Title"]</h2>
                @if (Model == null)
                {

                    <h4>@Localizer["You do not have a reserved car. Visit here to reserve now"] <a asp-action="Index" asp-controller="Car">@Localizer["Our Cars"]</a> </h4>
                }
                else
                {
                    <h4>@Localizer["Your reserved car."]</h4>
                }
            </div>
        </div>

        @if (Model != null)
        {
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="item-1">
                        <img src="@Model.Car.CarImageUrl" alt="Image" class="img-fluid bg-white">
                        <div class="item-1-contents">
                            <div class="text-center">
                                <h3>@Model.Car.CarBrand @Model.Car.CarModel</h3>
                            </div>
                            <ul class="specs">
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.Car.Engine)</span>
                                    <span class="spec">@Model.Car.Engine.EngineHorsePower hp @Model.Car.Engine.EngineVolume cm³</span>
                                </li>
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.Car.Engine.EngineFuelType)</span>
                                    <span class="spec">@Html.DisplayFor(x => x.Car.Engine.EngineFuelType)</span>
                                </li>
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.Car.CarTransmissionType)</span>
                                    <span class="spec">@Html.DisplayFor(x => x.Car.CarTransmissionType)</span>
                                </li>
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.Car.CarTrimPackage)</span>
                                    <span class="spec">@Model.Car.CarTrimPackage</span>
                                </li>
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.Car.CarType)</span>
                                    <span class="spec">@Model.Car.CarType</span>
                                </li>
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.Car.CarProductYear)</span>
                                    <span class="spec">@Model.Car.CarProductYear</span>
                                </li>
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.Car.MinimumAge)</span>
                                    <span class="spec">@Model.Car.MinimumAge</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="item-1">
                        <div class="item-1-contents">
                            <div class="text-center">
                                <h3>@Localizer["Rent Details"]</h3>
                            </div>
                            <ul class="specs">
                                <li>
                                    <span>@Localizer["Rent Office"]</span>
                                    <span class="spec">@Model.Car.Office.Address.District.Province.ProvinceName - @Model.Car.Office.Address.District.DistrictName</span>
                                </li>
                                <li>
                                    <span>@Localizer["Rent Date"]</span>
                                    <span class="spec">@Model.ReservationDate</span>
                                </li>
                                <li>
                                    <span>@Localizer["Return Office"]</span>
                                    <span class="spec">@Model.ReturnOffice.Address.District.DistrictName - @Model.ReturnOffice.Address.District.Province.ProvinceName</span>
                                </li>
                                <li>
                                    <span>@Localizer["Return Date"]</span>
                                    <span class="spec">@Model.ReturnDate</span>
                                </li>
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.Days)</span>
                                    <span class="spec">@Model.Days</span>
                                </li>
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.Car.CarDepositPrice)</span>
                                    <span class="spec">@Model.Car.CarDepositPrice₺</span>
                                </li>
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.Car.CarRentPrice)</span>
                                    <span class="spec">@Model.Car.CarRentPrice₺</span>
                                </li>
                                <li>
                                    <span>@Html.DisplayNameFor(x => x.TotalPrice)</span>
                                    <span class="spec">@Model.TotalPrice₺</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex action mt-5 float-right">
                        <a asp-action="EndReservation" asp-controller="Reservation" asp-route-id="@Model.ReservationId" class="btn btn-primary pl-5 pr-5 pt-3 pb-3">@Localizer["End Reservation"]</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>