@model IEnumerable<CarRent.Models.Province>

@{
    ViewData["Title"] = "List All Provinces";
}

<div class="padding-top-120px bg-dark"></div>

<div class="site-section bg-light padding-top-120px">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
        <div class="d-flex action mb-5">
            <a asp-action="Create" class="btn btn-primary">@Localizer["Add new province"]</a>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="item-1">
                        <div class="item-1-contents">
                            <div class="text-center">
                                <h3>@item.ProvinceName</h3>
                            </div>
                            <ul class="specs">
                                <li>
                                    <span class="spec2">@Html.DisplayNameFor(model => model.ProvinceId)</span>
                                    <span class="spec spec2">@item.ProvinceId</span>
                                </li>
                                <li>
                                    <span class="spec2">@Html.DisplayNameFor(model => model.Country.CountryName)</span>
                                    <span class="spec spec2">@item.Country.CountryName</span>
                                </li>
                            </ul>
                            <div class="d-flex action">
                                <a asp-action="Edit" asp-route-id="@item.ProvinceId" class="btn btn-primary mr-2">@Localizer["Edit"]</a>
                                <a asp-action="Delete" asp-route-id="@item.ProvinceId" class="btn btn-primary">@Localizer["Delete"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
