@model IEnumerable<CarRent.Models.Car>

@{
    ViewData["Title"] = "Our Cars";
}

<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('/img/cars.jpg')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Our Cars</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="item-1">
                        <img src="@item.CarImageUrl" alt="Image" class="img-fluid bg-white">
                        <div class="item-1-contents">
                            <div class="text-center">
                                <h3>@item.CarBrand @item.CarModel</h3>
                                <div class="rent-price"><span>@item.CarRentPrice₺/</span>day</div>
                            </div>
                            <ul class="specs">
                                <li>
                                    <span>Office</span>
                                    <span class="spec">@item.Office.Address.District.Province.ProvinceName - @item.Office.Address.District.DistrictName</span>
                                </li>
                                <li>
                                    <span>Engine</span>
                                    <span class="spec">@item.Engine.EngineHorsePower hp @item.Engine.EngineVolume cm³</span>
                                </li>
                                <li>
                                    <span>Fuel</span>
                                    <span class="spec">@item.Engine.EngineFuelType</span>
                                </li>
                                <li>
                                    <span>Transmission</span>
                                    <span class="spec">@item.CarTransmissionType</span>
                                </li>
                            </ul>
                            <div class="d-flex action">
                                <a asp-action="FastReservation" asp-controller="Reservation" asp-route-id="@item.CarId" class="btn btn-primary">Rent Now</a>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>