@using Microsoft.AspNetCore.Http
@using CarRent.Models
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Office rentOffice = HttpContextAccessor.HttpContext.Session.GetObject<Office>("RentOffice");
    Office returnOffice = HttpContextAccessor.HttpContext.Session.GetObject<Office>("ReturnOffice");
    Car rentCar = HttpContextAccessor.HttpContext.Session.GetObject<Car>("RentCar");
}

<div>
</div>

<h1>Rent Details</h1>
<h3>Rent Office: </h3><p>@rentOffice.OfficeName</p>
<h3>Rent Office Address: </h3><p>@rentOffice.Address.AddressText @rentOffice.Address.District.DistrictName/@rentOffice.Address.District.Province.ProvinceName</p>
<h3>Return Office: </h3><p>@returnOffice.OfficeName</p>
<h3>Rent Office Address: </h3><p>@returnOffice.Address.AddressText @returnOffice.Address.District.DistrictName/@returnOffice.Address.District.Province.ProvinceName</p>
<h3>Car: </h3><p>@rentCar.CarBrand @rentCar.CarModel</p>