@model CarRent.Models.CampaignDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CampaignDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCampaigns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCampaigns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CampaignDetailsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
