@model IEnumerable<CarRent.Models.CampaignDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampaignName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampaignDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampaignDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCampaigns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCampaigns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CampaignDetailsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CampaignDetailsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CampaignDetailsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
