@model CarRent.Models.Office

@{
    ViewData["Title"] = Localizer["Edit The Office"];
}

<div class="padding-top-120px bg-dark"></div>

<div class="site-section bg-light padding-top-120px" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
        <div class="d-flex action mb-5">
            <a asp-action="ListAdmin" class="btn btn-primary">@Localizer["Go back to list"]</a>
        </div>
        <div class="row">
            <div class="col-lg-8 mb-5">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="OfficeId" />
                    <div class="form-group row">
                        <div class="col-md-12 mb-4 mb-lg-0">
                            <label asp-for="OfficeName" class="control-label"></label>
                            <input asp-for="OfficeName" class="form-control" />
                            <span asp-validation-for="OfficeName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 mb-4 mb-lg-0">
                            <label asp-for="AddressId" class="control-label"></label>
                            <a asp-action="Create" asp-controller="Address" class="btn btn-primary float-right">@Localizer["Add a new address"]</a>
                            <select asp-for="AddressId" class="form-control" asp-items="ViewBag.AddressId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 mb-4 mb-lg-0">
                            <label asp-for="OfficePhone" class="control-label"></label>
                            <input asp-for="OfficePhone" class="form-control overflow-hidden" />
                            <span asp-validation-for="OfficePhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 mb-4 mb-lg-0">
                            <label asp-for="OfficeEmailAddress" class="control-label"></label>
                            <input asp-for="OfficeEmailAddress" class="form-control" />
                            <span asp-validation-for="OfficeEmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 mr-auto">
                            <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="@Localizer["Update"]">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 ml-auto">
                <div class="bg-white p-3 p-md-5">
                    <h3 class="text-black mb-4">@Localizer["Current Values"]</h3>
                    <ul class="list-unstyled footer-link">
                        <li class="d-block mb-3">
                            <span class="d-block text-black">@Html.DisplayNameFor(model => model.OfficeName)</span>
                            <span>@Model.OfficeName</span>
                        </li>
                        <li class="d-block mb-3"><span class="d-block text-black">@Html.DisplayNameFor(model => model.Address.AddressText) </span><span>@Model.Address.AddressText</span></li>
                        <li class="d-block mb-3"><span class="d-block text-black">@Html.DisplayNameFor(model => model.OfficePhone) </span><span>@Model.OfficePhone</span></li>
                        <li class="d-block mb-3"><span class="d-block text-black">@Html.DisplayNameFor(model => model.OfficeEmailAddress) </span><span>@Model.OfficeEmailAddress</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
