@model IEnumerable<CarRent.Models.Office>

@{
    ViewData["Title"] = "Our Offices";
}

<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('/img/office.jpg')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Our Offices</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="item-1">
                        <div class="item-1-contents">
                            <div class="text-center">
                                <a asp-action="Details" asp-controller="Office" asp-route-id="@item.OfficeId"><h3>@item.OfficeName</h3></a>
                            </div>
                            <ul class="specs">
                                <li>
                                    <span class="spec2">Address</span>
                                    <span class="spec spec2">@item.Address.AddressText</span>
                                </li>
                                <li>
                                    <span class="spec2">Phone</span>
                                    <span class="spec spec2">@item.OfficePhone</span>
                                </li>
                                <li>
                                    <span class="spec2">E-mail</span>
                                    <span class="spec spec2">@item.OfficeEmailAddress</span>
                                </li>
                            </ul>
                            <div class="d-flex action">
                                <a asp-action="Details" asp-controller="Office" asp-route-id="@item.OfficeId" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
